<template>
    <v-app>
        <v-navigation-drawer app>
            <v-toolbar flat>
                <v-list>
                    <v-list-tile>
                        <v-list-tile-title class="title">
                            TRIVIA APP
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-toolbar>

            <v-divider></v-divider>

            <v-list dense class="pt-0">
                <v-list-tile
                    v-for="item in items"
                    :key="item.title"
                    active-class="highlighted"
                    :class="item.path === $route.path ? 'highlighted' : ''"
                    @click="navigateToUrl(item.path)"
                >
                    <v-list-tile-action>
                        <v-icon >{{ item.icon }}</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar  app></v-toolbar>
        <v-content>
            <v-container>
                <router-view></router-view>
            </v-container>
        </v-content>
<!--        <v-footer app></v-footer>-->
    </v-app>
</template>

<script>
    export default {
        name: "App",

        data () {
            // Navigation list
            return {
                items: [
                    { title: 'Dashboard', icon: 'dashboard',path: '/dashboard' },
                    { title: 'Categories', icon: 'category' , path: '/categories'},
                    { title: 'Random Questions', icon: 'question_answer', path: '/questions' }
                ]
            }
        },

        methods:{
            // Redirect to a route using path
            navigateToUrl(path){
                this.$router.push({ path: path });
            }
        }
    }
</script>

<style scoped>
    /* To highlight the navigation item */
    .highlighted{
        background: rgba(0,0,0,.04);
    }

</style>
