<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-container>
        <h3 class="headline mb-0 page-title" ><v-icon>category</v-icon>  Categories</h3>
        <v-data-table
            :headers="headers"
            :items="categories"
            class="elevation-1"
            :pagination.sync="pagination"
            :loading="isLoading"
        >
            <template v-slot:items="props">
                <tr @click="redirectToQuestions(props.item)">
                <td>{{ props.item.title }}</td>
                <td >{{ props.item.clues_count }}</td>
                </tr>
            </template>
        </v-data-table>
    </v-container>
</template>

<script>
    import {getCategories} from '../utils/api';
    export default {
        data () {
            return {
                //default rows per page
                pagination: {
                    rowsPerPage: 25
                },
                // keys of categories
                headers: [
                    {
                        text: 'Title',
                        align: 'left',
                        value: 'title'
                    },
                    { text: 'Questions Count', value: 'clues_count' ,align: 'left',},
                ],
                //List of categories
                categories: [],
                isLoading: true
            }
        },
        async created(){
            try {
                // Get list of categories
                const response = await getCategories();
                this.categories = response.data;
                this.isLoading = false;
            } catch (e) {
                // handle error here
            }
        },
        methods:{
            // Redirect to questions of specific category.
            redirectToQuestions(item){
               this.$router.push({name:'questions',  params: {category:item.id}})
            }

        }
    }
</script>

<style scoped>

    .page-title{
        padding-bottom: 20px;

    }
    table.v-table tbody td {
     cursor: pointer;
    }

</style>
