<template>
    <v-container>
       <p> A sample Trivia application that uses Jservice. Jservice is constantly adding more clues to some of the same popular categories. The categories/clues are stored relationally so we can view the most popular categories, or view all clues associated with a particular category, given its id.</p>
        <v-layout  row wrap>
            <v-flex x12 sm6
                    v-for="item in items"
                    :key="item.title"
                    @click="navigateToUrl(item.path)">
                <v-card height="100px">
                    <v-card-title primary-title>
                        <div @click="navigateToUrl(item.path)">
                            <h3 class="headline mb-0" ><v-icon large>{{ item.icon }}</v-icon>  {{item.title}}</h3>
                            <div class="card-description">{{item.description}}</div>
                        </div>
                    </v-card-title>

                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data () {
            return {
                // List of cards
                items: [
                    { title: 'Categories', icon: 'category',description:'Click on it to view the categories and see questions of specific category',path: '/categories' },
                    { title: 'Random Questions', icon: 'question_answer',description:'Click on it to see Random Questions',path: '/questions' },
                ],
            }
        },
        methods:{
            // Redirect to a route
            navigateToUrl(path){
                this.$router.push({ path: path });
            }
        }
    }
</script>

<style scoped>
    .v-card{
        cursor:pointer;
    }
    .card-description{
        padding-left: 44px;
    }
</style>
