<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-container>
        <h3 class="headline mb-0 page-title" ><v-icon>question_answer</v-icon>  Questions</h3>
        <v-data-table
            :headers="headers"
            :items="questions"
            class="elevation-1"
            :pagination.sync="pagination"
            :loading="isLoading"
        >
            <template v-slot:items="props">
                <tr>
                    <td>{{ props.item.question }}</td>
                    <td >{{ props.item.answer }}</td>
                    <td >{{ props.item.airdate  | formatDate }}</td>
                    <td>{{ props.item.invalid_count? props.item.invalid_count:0}}
                        <a  class="pull-right"  @click="markClueAsInvalid(props.item)">Mark Invalid</a>
                    </td>
                </tr>
            </template>
        </v-data-table>
    </v-container>
</template>

<script>
    import {getQuestions, markAsInvalid} from '../utils/api';
    export default {
        data(){
            return {
                //list of questions
                questions: [],
                //default pagination
                pagination: {
                    rowsPerPage: 25
                },
                //Questions list keys
                headers: [
                    {
                        text: 'Question',
                        align: 'left',
                        value: 'question'
                    },
                    { text: 'Answer', value: 'answer' ,align: 'left',},
                    { text: 'Airdate', value: 'airdate' ,align: 'left',},
                    { text: 'Invalid Count', value: 'invalid_count' ,align: 'left',},
                ],
                // Is data loaded or not
                isLoading: true
            }
        },
        async created(){
            try {
                // Check for random questions or questions of specific category
                const url = this.$route.params.category? `clues?category=${this.$route.params.category}&`: `random?`;
                // Get questions list
                const response = await getQuestions(url);
                this.questions = response.data;
                this.isLoading = false;
            } catch (e) {
                // handle error here
            }
        },
        methods:{
            //Method to mark a question invalid and update invalid count in list
            async markClueAsInvalid(item){
                try {
                    const clue = new FormData();
                    clue.append('id',item.id);
                    const response  = await markAsInvalid(clue);
                    this.questions.some(function(question){
                        if (question.id === item.id){
                            //update invalid count
                            question.invalid_count = response.data.invalid_count;
                            return true;
                        }
                    });
                }catch (e) {
                    // handle error here
                }
            }
        }
    }
</script>

<style scoped>
    .page-title{
        padding-bottom: 20px;

    }
    .pull-right {
        float: right !important;
    }
    a {
        color: red;
        text-decoration: underline;
    }
</style>
